 @media (min-width: 1024px) {
     #fith {

         margin-top: -200px;
     }
 }

 @media (min-width: 1024px) {
     #bg {
         margin-top: -60px;
     }
 }

 @media (min-width: 640px) { 
    #bg {
        margin-top: -60px;
    }
  }